body,
        html {
            padding: 0;
            margin: 0;
            max-height: 100vh;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .inner-container {
            width: 70%;
            height: 100%;
        }

        p {
            font-size: 7vh;
        }

        .yAxis {
            padding-top: 45vh
        }

        .btnCss {
            border-radius: 10rem;
            margin: 0 auto;
        }

        .question div {
            width: 50vw;
            font-family: 'Montserrat-Bold';
        }

        .ques .ques-pic {
            width: 80%;
            height: 50%;
            padding-left: 5px;
            padding-bottom: 20px;
            position: relative;
        }

        .ques .ques-pic i {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 50px;
            margin-top: -25px;
            margin-left: -25px;
        }


        .ques .ques-pic .imgg {
            position: absolute;
            top: 50%;
            left: 10%;
            height: 50px;
            margin-top: -25px;
            margin-left: -25px;
        }

        .ques .ques-pic img {
            width: 100%;
            height: 100%;
        }

        .custom-radio {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
        }

        .ques-form {
            width: 90%;
        }

        .ques .ques-text div p {
            width: 80%;
            font-size: 24px;
        }

        .ques-radio {
            font-size: 16px;
        }

        #img-ed {
            width: 60%;
            border-color: red;
        }

        .ques-radio label {
            justify-content: left;
            padding-left: 2px;
        }

        .custom-radio .custom-control-input {
            justify-content: left;
            padding-left: 1px;
        }

        .custom-radio .custom-control-label::before{
            border: 1px solid blue;
            background-color: rgb(225, 225, 248);
        }

        .modal-dialog {
            max-width: 40vw;
        }
        .bg-opac-5 {
            background-color: rgb(222, 222, 222, 0.8);

        }
        #modal-div{
            position: absolute;
            top:8vh;
        }