.main-div {
            position: relative;
            height: 94vh;
            overflow-y: scroll;
        }

        .aside-div {
            position: relative;
            height: 94vh;
            overflow-y: auto;
        }

        .content {
            background: url("https://cdn.filestackcontent.com/42MxKWUT4ao58pwlaDHq") no-repeat center;
            background-size: 100% 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
        }

        .border-6 {
            border-width: 6px !important;
        }

        .border-3 {
            border-width: 3px !important;
        }

        .mx-10 {
            margin: 10vw;
        }

        .bg-opac-5 {
            background-color: rgb(222, 222, 222, 0.8);

        }

        .card-div {
            position: relative;
        }

        .card-div .pencil {
            position: absolute;
            top: 1%;
            right: 3%;
            color: blue;
        }

        .ques-div {
            width: 70%;
            max-height: 98%;
        }

        .ques-pic {
            margin-left: 25%;
        }

        .ques-pic img {
            width: 70%;
        }

        .ques-pic {
            position: relative;
        }

        .ques-pic .pencil {
            position: absolute;
            top: 20%;
            left: 10%;
            height: 50px;
            margin-top: -25px;
            margin-left: -25px;
            color: blue;
        }

        .editBorder {
            border-style: dotted;
            border-width: 2px 2px 2px 2px;
            border-color: blue;
        }

        .btn-div {
            right: 2vw;
            top: 1vh;
        }

        .btn-delete-ques {
            right: 4vw;
        }